{
	"python.autoComplete.extraPaths": ["C:/Users/<ton_user>/AppData/Roaming/Autodesk/Autodesk Fusion 360/API/Python/defs"],
	"python.analysis.extraPaths": ["C:/Users/<ton_user>/AppData/Roaming/Autodesk/Autodesk Fusion 360/API/Python/defs"],
	"python.defaultInterpreterPath": "C:/Users/<ton_user>/AppData/Local/Autodesk/webdeploy/production/<hash>/Python/python.exe",
	"python-envs.defaultEnvManager": "ms-python.python:system",
	"python-envs.pythonProjects": []
}
